* {
    box-sizing: border-box;
  }
  
.header {
    background-color: #9381ff;
    padding: 0px;
    overflow: auto;
}

#logo {
  float: left;
  padding: 10px;
}

#Name {
    font-size: 50px;
    float: left;
    padding: 20px;
    font-family: "Red Rose", serif;
    font-weight: 400; 
}

#Portfolio {
    float: right;
    padding: 30px; 
    font-size: 40px;
    font-family: "Red Rose", serif;
    font-weight: 400; 
}

#About_Me {
    float: right;
    padding: 30px;
    text-decoration: none;
    font-size: 40px;
    font-family: "Red Rose", serif;
    font-weight: 400; 
}

#MP_Head {
    text-align: center;
    font-size: 30px;
    font-family: "Red Rose", serif;
    font-weight: 400; 
}

body {  
    background-color: #f8f7ff;
    margin: 0;
}

.column {
    display: flex;
    flex-direction: row;
  }
  
.column > div {
    background-color: #b8b8ff;
    width: 75px;
    margin: 30px;
    text-align: center;
    line-height: 650px;
    font-family: "Red Rose", serif;
    font-weight: 400;
    font-size: 30px;
    width: 25%;
    color: white;
    display: block;
    width: 100%;  
}

.column > div:hover {
  transform: scale(1.1);
  transition: .6s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1.308);
}

a.container {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    background-color: rgb(172, 172, 172);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 20px;
    overflow: visible;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
